# <% @posts.each do |post| %>
#   <div><a href='<%= "/posts/#{post.id}" %>'><%= post.title %></a></div>
# <% end %> 

<ul> 
  <% @posts.each do |post| %>
   <li>  <div><%= link_to post.title, post_path(post) %></div> </li>
  <% end %>

</ul>